/* --------------------------------
Site:       Admin Church
CSS author: CLM Developers
Updated:    28/11/2013
Updated by: Claudia Valdivieso
-------------------------------- */

/* ----------------------------
simple reset
---------------------------- */
*{
	margin:0;
	padding:0;
	border:0;
}
html { 
    overflow-x: hidden; 
}
body {
	font-family: 'Oswald', sans-serif;
	background: #fff;
	color: #666;
	font-size: 16px;
    overflow-x: hidden;
}
h2{
    margin-bottom: 40px;
}
header, footer{
	background: #333333;
    width: 100%;
}
footer{
	color:#f4f4f4;
	padding:20px 0;
	text-align: center;
}
#title{
	margin:0 auto;
	padding:50px 0;
	width: 30%;
}
#rs-login{
	margin-top:20px;
	position: absolute;
	right: 20px;
	top: 0;
}
#rs-login ul {
	list-style-type:none;
}
#rs-login ul li{
	margin: 0 10px;
	display:inline;
}
#rs-login img{
	width: 24px;
}
#info{
	border-style: solid;
	border-color: #d9d9d9;
}
#info, #free{
	border-width: 45px 0 45px 0;
}
#info, #after{
	background: #d9d9d9;
}
#info h2, #free h2, #cloud h2{
	font-size: 52px;
	font-weight: 400; 
    line-height: 35pt;
    text-align: center;
}
/*#info .span6, #free .span6{
	padding-top: 30px;
}*/
#free span, #info span, #cloud span{
	font-size: 40px;
}
#info p, #free p{
    text-align: right;
}
#info p, #free p, #cloud p, #after p{
	font-size: 25px;
	font-weight: 300; 
	line-height: 25pt;
}
#info h2, #info p, #after h2, #after p, #free h2, #free p, #free span, #cloud h2, #cloud p{
	font-family: 'Oswald', sans-serif;
}
#info h2, #info p, #after p{
	color:#919292;
}
#free{
	background: #fac567;
	border-style: solid;
	border-color: #fac567;
}
#free h2, #free p{
	color:#9b7d19;
}
#free img{
    width: 75%;
}
#cloud{
	background: #87ceeb;
	border-width: 21px 0 0 0; /*21px 0 21px 0;*/
	border-style: solid;
	border-color: #87ceeb;
}
#cloud .span7{
	padding-top: 50px;
}
#cloud h2, #cloud p{
	color:#0f82b4;
}
#phone{
	width:30%;
}
#after{
	text-align: center;
}
#after img{
    width:30%;
}
#form-mailchimp{
    width: 50%;
    margin: 0 auto;
}
/**************SEPARADORES*****************/
/*#hr-info{
	border-top: 5em solid #d9d9d9;
	border-left: 50em solid #87ceeb;
	border-right: 50em solid #87ceeb;
}
#hr-cloud{
	border-top: 5em solid #87ceeb;
	border-left: 50em solid #fac567;
	border-right: 50em solid #fac567;
}
#hr-free{
	border-top: 5em solid #fac567;
	border-left: 50em solid #d9d9d9;
	border-right: 50em solid #d9d9d9;
}
#hr-info, #hr-cloud, #hr-free{
    width: 100%;
	height: 0;
}
/**************FIN SEPARADORES***********/
a{
    color: #f74e4d;
    text-decoration:none;
}
a:hover{
    color: #FB7979;
    text-decoration:none;
}
.button {
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle!important;
    background-color: #d9d9d9;
    border: 1px transparent solid;
    color: #222;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    font-size: 14px;
    line-height: 16px;
}
.button:focus{
    outline: 0;
    border: 1px #353535 dotted;
}
.button:active{
	background-color:#FB7979!important;
	color:#fff!important;
	border-color:transparent
}
.button.coral{
	background-color: #f74e4d;
	color:white;
}
.wrapper{
	padding:50px 0;
}
.span8{
	margin:0;
}
#after .span10{
    padding-top: 100px;
}
.row-fluid [class*="span"]{
	margin:0;
}
/*@media screen and (max-width: 1920){
    #hr-info{
        border-left: 60em solid #87ceeb;
        border-right: 60em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 60em solid #fac567;
        border-right: 60em solid #fac567;
    }
    #hr-free{
        border-left: 60em solid #d9d9d9;
        border-right: 60em solid #d9d9d9;
    }
}*/
@media screen and (max-width:1024px){
    .metro .container {
        width: 100%!important;
    }
    /*#hr-info{
        border-left: 31em solid #87ceeb;
        border-right: 31em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 31em solid #fac567;
        border-right: 31em solid #fac567;
    }
    #hr-free{
        border-left: 31em solid #d9d9d9;
        border-right: 31em solid #d9d9d9;
    }*/
}
@media screen and (max-width:960px){
    .metro .container {
        width: 100%!important;
    }
    #info, #cloud, #free{
        text-align: center;
    }
    #title{
        width: 50%;
    }
    /*#hr-info{
        border-left: 19em solid #87ceeb;
        border-right: 19em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 19em solid #fac567;
        border-right: 19em solid #fac567;
    }
    #hr-free{
        border-left: 19em solid #d9d9d9;
        border-right: 19em solid #d9d9d9;
    }*/
    .metro .span3, .metro .span4, .metro .span7, .metro .span8, .metro .span12{
        width: 100%!important;
    } 
}
/*@media screen and (max-width: 768px) {
    #hr-info{
        border-left: 22.5em solid #87ceeb;
        border-right: 22.5em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 22.5em solid #fac567;
        border-right: 22.5em solid #fac567;
    }
    #hr-free{
        border-left: 22.5em solid #d9d9d9;
        border-right: 22.5em solid #d9d9d9;
    }
}
@media screen and (max-width: 600px) {
    #hr-info{
        border-left: 18em solid #87ceeb;
        border-right: 18em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 18em solid #fac567;
        border-right: 18em solid #fac567;
    }
    #hr-free{
        border-left: 18em solid #d9d9d9;
        border-right: 18em solid #d9d9d9;
    }
}
@media screen and (max-width: 480px){
    #hr-info{
        border-left: 15em solid #87ceeb;
        border-right: 15em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 15em solid #fac567;
        border-right: 15em solid #fac567;
    }
    #hr-free{
        border-left: 15em solid #d9d9d9;
        border-right: 15em solid #d9d9d9;
    }
}
@media screen and (max-width: 384px){
    #hr-info{
        border-left: 12em solid #87ceeb;
        border-right: 12em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 12em solid #fac567;
        border-right: 12em solid #fac567;
    }
    #hr-free{
        border-left: 12em solid #d9d9d9;
        border-right: 12em solid #d9d9d9;
    }
}*/
@media screen and (max-width: 320px) {
    #info, #cloud, #free{
        text-align: center;
    }
    /*#hr-info{
        border-left: 10em solid #87ceeb;
        border-right: 10em solid #87ceeb;
    }
    #hr-cloud{
        border-left: 10em solid #fac567;
        border-right: 10em solid #fac567;
    }
    #hr-free{
        border-left: 10em solid #d9d9d9;
        border-right: 10em solid #d9d9d9;
    }*/
}