/* --------------------------------
Site:       Admin Church
CSS author: CLM Developers
Updated:    28/11/2013
Updated by: Claudia Valdivieso
-------------------------------- */

/* ----------------------------
simple reset
---------------------------- */
*{
	margin:0;
	padding:0;
	border:0;
}
html { 
    overflow-x: hidden; 
}
body {
	font-family: 'Oswald', sans-serif;
	background: #fff;
	color: #666;
	font-size: 16px;
    overflow-x: hidden;
}
h2{
    margin-bottom: 40px;
}
header, footer{
	background: #333333;
    width: 100%;
}
header{
    position: fixed;
    z-index:50;
}
#info, #free, #cloud, #after{
    position: fixed;
    z-index: 1;
    width: 100%;  
    top: 100%;
}
#info{
    z-index: 1;
}
#cloud{
    z-index: 2;
}
#free{
    z-index: 3;
}
#after{
    z-index: 4;
}
#info h2, #free h2, #cloud h2{
    font-size: 42px;
    font-weight: 400; 
    line-height: 27pt;
    text-align: center;
}
footer{
	color:#f4f4f4;
	padding:20px 0;
	text-align: center;
}
#scrolleddiv{
    height: 15000px;
    background: #333333;    
    width: 100%;
    margin:0;
    padding:0;
    border:0;
}

#title{
	margin:0 auto;
	padding:50px 0;
	width: 30%;
}
#rs-login{
	margin-top:20px;
	position: fixed;
	right: 20px;
	top: 0;
}
#rs-login ul {
	list-style-type:none;
}
#rs-login ul li{
	margin: 0 10px;
	display:inline;
}
#rs-login img{
	width: 24px;
}
#info{
	border-style: solid;
	border-color: #d9d9d9;
}
#info, #free{
	border-width: 45px 0 45px 0;
}
#info, #after{
	background: #d9d9d9;
}
#info h2, #free h2, #cloud h2{
	font-size: 52px;
	font-weight: 400; 
    line-height: 35pt;
    text-align: center;
}
/*#info .span6, #free .span6{
	padding-top: 30px;
}*/
#free span, #info span, #cloud span{
	font-size: 40px;
}
#info p, #free p{
    text-align: right;
}
#info p, #free p, #cloud p, #after p{
	font-size: 25px;
	font-weight: 300; 
	line-height: 25pt;
}
#info h2, #info p, #after h2, #after p, #free h2, #free p, #free span, #cloud h2, #cloud p{
	font-family: 'Oswald', sans-serif;
}
#info h2, #info p, #after p{
	color:#919292;
}
#free{
	background: #fac567;
	border-style: solid;
	border-color: #fac567;
}
#free h2, #free p{
	color:#9b7d19;
}
#free img{
    width: 75%;
}
#cloud{
	background: #87ceeb;
	border-width: 21px 0 0 0; /*21px 0 21px 0;*/
	border-style: solid;
	border-color: #87ceeb;
}
#cloud .span7{
	padding-top: 50px;
}
#cloud h2, #cloud p{
	color:#0f82b4;
}
#phone{
	width:30%;
}
#after{
	text-align: center;
    position: fixed;
}
#after img{
    width:30%;
}
#form-mailchimp{
    width: 50%;
    margin: 0 auto;
}

a{
    color: #f74e4d;
    text-decoration:none;
}
a:hover{
    color: #FB7979;
    text-decoration:none;
}
.button {
    padding: 4px 12px;
    text-align: center;
    vertical-align: middle!important;
    background-color: #d9d9d9;
    border: 1px transparent solid;
    color: #222;
    border-radius: 0;
    cursor: pointer;
    display: inline-block;
    outline: 0;
    font-size: 14px;
    line-height: 16px;
}
.button:focus{
    outline: 0;
    border: 1px #353535 dotted;
}
.button:active{
	background-color:#FB7979!important;
	color:#fff!important;
	border-color:transparent
}
.button.coral{
	background-color: #f74e4d;
	color:white;
}
.wrapper{
	padding:50px 0;
}
.span8{
	margin:0;
}
#after .span10{
    padding-top: 100px;
}
.row-fluid [class*="span"]{
	margin:0;
}

#nav-dots{
    z-index: 99;
    position: fixed;
    top: 49%;
}

/*.nav-dots {
    text-align: center;
    position: absolute;
    bottom: -5px;
    height: 30px;
    width: 100%;
    left: 0;
    display: none;
}*/

.nav-dots span {
    /*display: inline-block;*/
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 15px;
    background: #cbbfae;
    cursor: pointer;
    box-shadow: 
        0 1px 1px rgba(255,255,255,0.6), 
        inset 0 1px 1px rgba(0,0,0,0.1);
}

.nav-dots span.nav-dot-current {
    box-shadow: 
        0 1px 1px rgba(255,255,255,0.6), 
        inset 0 1px 1px rgba(0,0,0,0.1), 
        inset 0 0 0 3px #cbbfae,
        inset 0 0 0 8px #fff;
}

@media screen and (max-width:1024px){
    body{
        padding: 0;
    }
    #info h2, #free h2, #cloud h2{
        font-size: 52px;
        font-weight: 400; 
        line-height: 35pt;
        text-align: center;
    }
    #info p, #free p, #cloud p, #after p{
        font-size: 25px;
        font-weight: 300; 
        line-height: 25pt;
    }
    .metro .container {
        width: 100%!important;
    }
}

@media screen and (max-width:960px){
    #nav-dots{
        display: none;
    }
    #scrolleddiv{
        height: 0px;
    }
    header,#info, #free, #cloud, #after{
        position: static;
        z-index: 0;
        width: 100%;
    }
    #free{
        z-index: 0;
    }
    #after{
        z-index: 0;
    }
    #free{
        z-index: 0;
    }
    #info h2, #free h2, #cloud h2{
        font-size: 42px;
        font-weight: 400; 
        line-height: 27pt;
        text-align: center;
    }
    #info p, #free p, #cloud p, #after p{
        font-size: 20px;
        font-weight: 300; 
        line-height: 25pt;
    }
    .metro .container {
        width: 100%!important;
    }
    #info, #cloud, #free{
        text-align: center;
    }
    #title{
        width: 50%;
    }

    .metro .span3, .metro .span4, .metro .span7, .metro .span8, .metro .span12{
        width: 100%!important;
    } 
}

@media screen and (max-width: 320px) {
    #info h2, #free h2, #cloud h2{
        font-size: 30px;
        font-weight: 400; 
        line-height: 15pt;
        text-align: center;
    }
    #info p, #free p, #cloud p, #after p{
        font-size: 15px;
        font-weight: 300; 
        line-height: 15pt;
    }
    #info, #cloud, #free{
        text-align: center;
    }
}